# vs
.vs/
*.user
*.suo

# output
bin/
obj/
Debug/
Release/

# dlls
*.dll

# don't want
loadTGA.h
*.zip

# unused textures
AlienThemePark/textures/*
!AlienThemePark/textures/iron.bmp
!AlienThemePark/textures/moss.bmp
!AlienThemePark/textures/brightsky.bmp