# vs
.vs/
*.user
*.suo

# output
bin/
obj/
Debug/
Release/

# dlls
*.dll

# don't want
loadTGA.h
*.zip

# ignore unwanted texture
textures/*
!textures/iron.bmp
!textures/moss.bmp
!textures/brightsky.bmp